<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>Theo dõi bài viết</button>
        </div>
        <div class="col-lg-9">
            <h2>{{post.name}}</h2>
            <img src="{{post.image}}" alt="">
            <p>{{post.description}}</p>
        </div>
    </div>
</div>